<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @user.name %></h1>
    </section>
    <section>
      <!-- TODO bookmark stats here -->
    </section>
  </aside>
  <div class="span8">
    <!-- TODO bookmark listing here -->
  </div>
</div>