<div class="row">
  <aside class="span4">
    <section>
      <!-- TODO gravatar here -->
      TODO Add Stuff here
      <%= @user.name %>
    </section>
    <section>
      <!-- TODO bookmark stats here -->
    </section>
  </aside>
  <div class="span8">
    <!-- TODO bookmark listing here -->
  </div>
</div>